# This file is part of «Birchbark Literacy from Medieval Rus» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Birchbark Literacy from Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Birchbark Literacy from Medieval Rus» database is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Birchbark Literacy from Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.

sonata_admin:
  title: Берестяные грамоты
  dashboard:
    blocks:
      - { type: sonata.admin.block.admin_list, position: left }
    groups:
      security:
        label_catalogue: admin
        label: menu.groups.security.label
        items:
          - admin.user
        roles: [ROLE_SUPER_ADMIN]
      text:
        label_catalogue: admin
        label: menu.groups.text.label
        items:
          - admin.document_text
        roles: [ROLE_TEXT_EDITOR]
      document:
        label_catalogue: admin
        label: menu.groups.document.label
        items:
          - admin.document
          - admin.conventional_date_cell
          - admin.town
          - admin.scribe
        roles: [ROLE_EDITOR]
      contentAspect:
        label_catalogue: admin
        label: menu.groups.contentAspect.label
        items:
          - admin.content_category
          - admin.genre
          - admin.way_of_writing
          - admin.language
        roles: [ROLE_EDITOR]
      materialAspect:
        label_catalogue: admin
        label: menu.groups.materialAspect.label
        items:
          - admin.excavation
          - admin.material
          - admin.state_of_preservation
          - admin.storage_place
          - admin.estate
          - admin.square
          - admin.stratum
          - admin.street
        roles: [ROLE_EDITOR]
      content:
        label_catalogue: admin
        label: menu.groups.content.label
        items:
          - admin.content.post
          - admin.document_list
        roles: [ROLE_EDITOR]
      media:
        label_catalogue: admin
        label: menu.groups.media.label
        items:
          - admin.media.file
        roles: [ROLE_EDITOR]
      bibliography:
        label_catalogue: admin
        label: menu.groups.bibliography.label
        items:
          - admin.bibliography.bibliographic_record
          - admin.bibliography.author
          - admin.bibliography.references_list
        roles: [ROLE_EDITOR]
  options:
    use_icheck: false
    default_admin_route: edit
  templates:
    user_block: 'admin/user_block.html.twig'
  assets:
    extra_stylesheets:
      - 'build/css/admin/media/file.css'

sonata_block:
  blocks:
    sonata.admin.block.admin_list:
      contexts: [admin]

services:
  admin.content.post:
    class: App\Admin\Content\PostAdmin
    arguments: [null, App\Entity\Content\Post, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.user:
    class: App\Admin\Security\UserAdmin
    arguments:
      - null
      - App\Entity\Security\User
      - null
      - '@security.password_hasher'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.document_list:
    class: App\Admin\Document\DocumentListAdmin
    arguments: [null, App\Entity\Document\DocumentList, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.content_category:
    class: App\Admin\Document\ContentCategoryAdmin
    arguments: [null, App\Entity\Document\ContentCategory, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.conventional_date_cell:
    class: App\Admin\Document\ConventionalDateCellAdmin
    arguments: [null, App\Entity\Document\ConventionalDateCell, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.genre:
    class: App\Admin\Document\GenreAdmin
    arguments: [null, App\Entity\Document\Genre, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.way_of_writing:
    class: App\Admin\Document\WayOfWritingAdmin
    arguments: [null, App\Entity\Document\WayOfWriting, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.language:
    class: App\Admin\Document\LanguageAdmin
    arguments: [null, App\Entity\Document\Language, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.town:
    class: App\Admin\Document\TownAdmin
    arguments: [null, App\Entity\Document\Town, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.excavation:
    class: App\Admin\Document\ExcavationAdmin
    arguments: [null, App\Entity\Document\Excavation, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.estate:
    class: App\Admin\Document\EstateAdmin
    arguments: [null, App\Entity\Document\Estate, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.square:
    class: App\Admin\Document\SquareAdmin
    arguments: [null, App\Entity\Document\Square, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.stratum:
    class: App\Admin\Document\StratumAdmin
    arguments: [null, App\Entity\Document\Stratum, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.street:
    class: App\Admin\Document\StreetAdmin
    arguments: [null, App\Entity\Document\Street, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.material:
    class: App\Admin\Document\MaterialAdmin
    arguments: [null, App\Entity\Document\Material, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.state_of_preservation:
    class: App\Admin\Document\StateOfPreservationAdmin
    arguments: [null, App\Entity\Document\StateOfPreservation, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.storage_place:
    class: App\Admin\Document\StoragePlaceAdmin
    arguments: [null, App\Entity\Document\StoragePlace, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.scribe:
    class: App\Admin\Document\ScribeAdmin
    arguments: [null, App\Entity\Document\Scribe, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.document:
    class: App\Admin\Document\DocumentAdmin
    arguments:
      - null
      - App\Entity\Document\Document
      - null
      - '@App\DataStorage\DataStorageManagerInterface'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm, default: true }
  admin.content_element:
    class: App\Admin\Document\ContentElementAdmin
    arguments: [null, App\Entity\Document\ContentElement, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.material_element:
    class: App\Admin\Document\MaterialElementAdmin
    arguments: [null, App\Entity\Document\MaterialElement, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.document_text:
    class: App\Admin\Text\DocumentTextAdmin
    arguments: [null, App\Entity\Document\Document, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.content_element_text:
    class: App\Admin\Text\ContentElementTextAdmin
    arguments: [null, App\Entity\Document\ContentElement, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.media.file:
    class: App\Admin\Media\FileAdmin
    arguments:
      - null
      - App\Entity\Media\File
      - null
      - '@App\Repository\Media\FileRepository'
      - '@App\DataStorage\DataStorageManagerInterface'
      - '@App\Services\Media\Thumbnails\ThumbnailsGeneratorInterface'
      - '@event_dispatcher'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.bibliographic_record:
    class: App\Admin\Bibliography\BibliographicRecordAdmin
    arguments:
      - null
      - App\Entity\Bibliography\BibliographicRecord
      - null
      - '@App\DataStorage\DataStorageManagerInterface'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.author:
    class: App\Admin\Bibliography\AuthorAdmin
    arguments: [null, App\Entity\Bibliography\Author, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.file_supplement:
    class: App\Admin\Bibliography\FileSupplementAdmin
    arguments:
      - null
      - App\Entity\Bibliography\FileSupplement
      - null
      - '@App\DataStorage\DataStorageManagerInterface'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.structural_component:
    class: App\Admin\Bibliography\StructuralComponentAdmin
    arguments:
      - null
      - App\Entity\Bibliography\StructuralComponent
      - null
      - '@App\DataStorage\DataStorageManagerInterface'
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.references_list:
    class: App\Admin\Bibliography\ReferencesListAdmin
    arguments: [null, App\Entity\Bibliography\ReferencesList, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
  admin.bibliography.references_list.item:
    class: App\Admin\Bibliography\ReferencesListItemAdmin
    arguments: [null, App\Entity\Bibliography\ReferencesListItem, null]
    calls:
      - [setLabelTranslatorStrategy, ['@sonata.admin.label.strategy.noop']]
    tags:
      - { name: sonata.admin, manager_type: orm }
