{#
# This file is part of «Birchbark Literacy from Medieval Rus» database.
#
# Copyright (c) Department of Linguistic and Literary Studies of the University of Padova
#
# «Birchbark Literacy from Medieval Rus» database is free software:
# you can redistribute it and/or modify it under the terms of the
# GNU General Public License as published by the Free Software Foundation, version 3.
#
# «Birchbark Literacy from Medieval Rus» database is distributed
# in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even
# the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. If you have not received
# a copy of the GNU General Public License along with
# «Birchbark Literacy from Medieval Rus» database,
# see <http://www.gnu.org/licenses/>.
#}

{% extends 'site/base.html.twig' %}

{% block page_content %}
    {% import 'site/book/macro__book_helper.html.twig' as book_helper %}

    <h5><a href="{{ path('library__bibliography_list') }}">{{ 'favoriteBibliography'|transWithContext(translationContext) }}</a></h5>

    {{ book_helper.book_list_table(books, true, 'table.column.bookName'|transWithContext(translationContext), 'table.column.view'|transWithContext(translationContext), 'table.column.download'|transWithContext(translationContext)) }}
{% endblock %}
